* {
  margin: 0;
  padding:0;
}

body{
  padding-top: 100px;
  background-image: url(../img/login.jpg);
  width: 100%; /* com isso imagem ocupará toda a largura da tela. Se colocarmos height: 100% também, a imagem irá distorcer */
  background-size: cover;
  background-repeat: no-repeat;
}	

img{

}

.col-centered{
float: none;
margin: 0 auto;
}

.card{
  height: 270px;
  margin-top: auto;
  margin-bottom: auto;
  width: 400px;
  background-color: rgba(0,0,0,0.5) !important;
  }
  .input-group-prepend span{
    width: 100px;
    background-color: #FFC312;
    color: black;
    border:0 !important;
    }



